<div class="mais-lidas">
    <h3>Mais Lidas</h3>
    <div class="mais-lidas-noticias">
        <% for (let i = 0; i < posts.length; i++) { %>
            <div class="mais-lida-noticia-single">
                <img src="<%= posts[i].imagem %>">
                <div class="texto-mais-lida-single">
                    <h4><%= posts[i].titulo %></h4>
                    <p><%- posts[i].descricaoCurta %>...</p>
                    <a href="/<%= posts[i].slug %>">Saiba Mais</a>
                </div>
            </div>
        <% } %>
    </div>
</div>