
    <%- include('partials/header.html') %>

        <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="title-destaque-descricao">
                        <h2>Quer fugir das praias de verão?</h2>
                        <p>Donec vitae libero convallis, tempus mauris ac, pretium arcu. Cras mattis ultrices eros, sed luctus eros. Nam pe...</p>
                    </div>
                    <img src="/public/images/landscape.png">
                </div>
            </div>
        </section>

        <section class="outras-noticias">
            <div class="title-outras-noticias">
                <h2>Outras Noticias</h2>
                <br><br>
                <div class="center">
                    <div class="ultimas">
                        <div class="box-ultima-single">
                            <img src="/public/images/noticia.png">
                            <div class="conteudo-noticia-single">
                                <h3>Natureza e Geral</h3>
                                <h2>Como encarar o surf em Floripa</h2>
                                <p>A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como.</p>
                                <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>
                        <div class="box-ultima-single">
                            <img src="/public/images/noticia.png">
                            <div class="conteudo-noticia-single">
                                <h3>Natureza e Geral</h3>
                                <h2>Como encarar o surf em Floripa</h2>
                                <p>A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como.</p>
                                <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                    <%- include('partials/mais-lidas.html') %>
                </div>
            </div>
        </section>

        <%- include('partials/footer.html') %>