<%- include('partials/header.html') %>

<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= post.titulo %></h2>
            <div class="autor-nome">
                <span>Por <%= post.autor %></span>
            </div>
            <br>
            <img style="max-width: 100%;" src="<%= post.imagem %>">
            <br>
            <%- post.conteudo %>
        </div>
        <%- include('partials/mais-lidas.html') %>
    </div>
</section>

<%- include('partials/footer.html') %>